.wd-rounded-border-left {
  border-bottom-left-radius: 25rem !important;
  border-top-left-radius: 25rem !important;
}
.wd-rounded-border-right {
  border-bottom-right-radius: 25rem !important;
  border-top-right-radius: 25rem !important;
}
.input-group-text {
  background-color: white;
}

.wd-bottom-left {
  top: 100%;
  left: 10%;
}
