.wd-title {
  font-size: 20px;
}
.wd-mt-12 {
  margin-top: 12px;
}

.wd-title-author {
  font-size: 13px;
  color: lightgray;
}
.wd-pr-16 {
  padding-right: 16px;
}
.wd-pl {
  padding-left: 16px;
}
.wd-pl-12 {
  padding-left: 12px;
}

.wd-pt {
  padding-top: 12px;
}

.wd-pb {
  padding-bottom: 12px;
}

.wd-profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.wd-post-author-name {
  color: white;
}

.wd-post-author-handle {
  color: lightgray;
}

.wd-font-size-15 {
  font-size: 15px;
}
.wd-post-container {
  display: flex;
}

.wd-post-img {
  border-radius: 10px 10px 0px 0px;
}
.wd-post-img-info {
  padding: 12px;
}

.wd-title-container {
  width: 586px;
}
.wd-max-width {
  max-width: 506px;
}

.wd-max-width-480 {
  max-width: 480px;
}
.wd-lightgray {
  color: lightgray;
}
.wd-bold {
  font-weight: bold;
}
.wd-info {
  border-radius: 0px 0px 10px 10px;
}

.wd-thin-border {
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

.wd-post-icons {
  display: flex;
  justify-content: space-between;
}
.wd-num {
  padding-left: 12px;
}
